*
 
!.gitignore
!README.md
!LICENSE
 
!/kctools/
!/kctools/classes/
!/kctools/classes/subconf/
 
!*.py
!*.csv
!*.txt
!*.json
!*.toml
!*.yaml

/*.py
/*.csv
/*.txt
/*.json
/*.toml
/*.yaml

!pyproject.toml
